@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

@theme {
  --font-display: "Manrope", sans-serif;
  --color-primary: #19b366;
  --color-background-light: #fafaf9;
  --color-background-dark: #000000;

  --animate-bounce-short: bounce-short 1s ease-in-out infinite;
  --animate-float: float 3s ease-in-out infinite;

  @keyframes bounce-short {

    0%,
    100% {
      transform: translateY(-5%);
    }

    50% {
      transform: translateY(0);
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;
}

:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background-light);
  color: #111714;
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}

.dark body {
  background-color: var(--color-background-dark);
  color: white;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
}

.dark .glass-effect {
  background: rgba(34, 42, 42, 0.85);
  backdrop-filter: blur(8px);
}

/* Custom scrollbar for better look on desktop */
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}

/* Reset buttons and links to be controlled by Tailwind classes */
button,
a {
  transition: all 0.2s ease;
}